.details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 0;

}

.details img {
   max-width: 500px;
   min-width: 290px;
   height: 300px;
   /* width: 100%; */
   margin: 20px;
   display: block;

}

.details .box {
    max-width: 500px;
    min-width: 290px;
    margin: 25px;
}

.box .row {
    display: flex;
    justify-content: space-between;
    margin: 0 0 15px 0;
}

.box .row h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.box .row span {
    color: red;
}

.box .type button{
    height: 30px;
    padding: 5px;
    margin: 1px 5px 1px 1px;
    text-transform: uppercase;
    color:rgb(22, 18, 18);
    outline: none;
    border: 1px solid red;
    border-radius: 10px;
    cursor: pointer;
}

.box .type button:active{
    background:red;
}

.box p {
    line-height: 1.5;
    margin: 15px 0;
}

.box .cart {
    background: #333;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
    border-radius: 10px;
    text-transform: uppercase;
}